h1 {
    font-family: verdana;
    font-size: 300%;
}

body{
    background-color: black;
    margin: 0;
}

a{
    cursor: pointer;
}

.main{
    width: 100%;
    height: 100px;
    background-color: rgb(175, 4, 38);
    display: flex;
    justify-content: space-between;
}
.logo_main{
    width: 120px;
    height: 100%;
    background-color: black;
}
.bar_main{
    width: fit-content;
    height: 100%;
}
.sign_main{
    width: 120px;
    height: 100%;
}

.sign_main ul{
    list-style: none;
}


.sign_main ul li a{
    font-size: 20px;
    font-family: 'Arial';
    color: black;
    text-decoration: none;
}

.bar_main ul{
    list-style: none;
    margin-right: 30px;
}
.bar_main ul li {
    display: inline-block;
    float: left;
}
.bar_main ul li a{
    font-size: 30px;
    font-family: 'Arial';
    color: black;
    text-decoration: none;
    padding: 0 10px;
    line-height: 60px;

}
a.active,a:hover{
    background: rgb(182, 50, 76);
    transition: .5s;
}
